@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Shared/_Layout.cshtml"; 

    var db=Database.Open("u2p");
    var kisaKod=UrlData[0];
    
    if (string.IsNullOrEmpty(kisaKod))
    {
        db.Close();
        Response.Redirect("~/Error/Invalid-Url");
    }

    var queryURL=db.QuerySingle("SELECT * FROM URL WHERE kisaKod=@0 AND userID=@1",kisaKod,WebSecurity.CurrentUserId);
  
    if (queryURL==null)
    {
       db.Close();
       Response.Redirect("~/Error/Invalid-Url");
    }

   
    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles WHERE UserID=@0",WebSecurity.CurrentUserId);
    var queryErisimKodlari=db.Query("SELECT * FROM URLErisimKodlari WHERE urlID=@0",queryURL.urlID);
    var queryErisimIzinleri=db.Query("SELECT * FROM URLErisimIzni INNER JOIN Profiles ON URLErisimIzni.userID=Profiles.userID WHERE urlID=@0 ",queryURL.urlID);
    var queryEtiketler=db.Query("SELECT * FROM URLEtiket INNER JOIN Etiket on URLEtiket.etiketID=Etiket.etiketID WHERE urlID=@0",queryURL.urlID);
    var stringEtiketler="";
    foreach (var item in queryEtiketler)
     {
         
         stringEtiketler=stringEtiketler + "," + item.etiket;
         
     }
     stringEtiketler=stringEtiketler.TrimStart(',');
 

}
@section styles
{
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>


}
<h1><span class="glyphicon glyphicon-cog"></span> Settings</h1>
<hr>
<div class="row">
     <div class="col-md-12 column">
    <div class="panel panel-info">
                <div class="panel-heading"><h5 id="lblKisaKod" data-kisaKod="@kisaKod"> @Request.Url.GetLeftPart(UriPartial.Authority)/@queryURL.kisaKod</h5></div>
    
            <div class="panel-body">
    <div class="col-md-4 column">
        
        <table class="table">
            <tr>
                <td><strong>URL:</strong></td>         
            </tr>
            <tr>
                <td>@Request.Url.GetLeftPart(UriPartial.Authority)/@if(queryKullanici.uyelikTuru==2){<a href="#" id="txtKisaKod">@queryURL.kisaKod</a>}else {<text> @queryURL.kisaKod</text>}</td>
            </tr>
            <tr>
                <td><strong>Description:</strong></td>
            </tr>
            
            <tr>
                <td><a href="#" id="txtAciklama">@queryURL.aciklama</a></td>
            </tr>
            
            <tr>
                <td><strong>Access Type:</strong></td>
            </tr>   
            
            <tr>
                <td>
                    <select id="cmbErisimTuru" data-ilkdeger="@queryURL.erisimTuru">
                        <option value="1">Public</option>
                        <option value="2">Members</option>
                        <option value="3">Allowed users (Via Access Codes)</option>
                        <option value="4">Owner</option>
                    </select>
                </td>
                </tr>    
            <tr>
                <td><strong>Visible:</strong></td>
            </tr>   
            
            <tr>
                <td>
                    <select id="cmbGorunur" data-ilkdeger="@queryURL.aramalardaGoster">
                        <option value="1">Yes</option>
                        <option value="2">No</option>             
                    </select>
                </td>
                </tr>

             <tr>
                <td><strong>URL Access Start Date</strong></td>
            </tr>   
            
            <tr>
                <td>
                    <div class="row">
                        <div class="col-xs-12 column">
                    <div class="form-inline">
                         <div class="form-group ">
                        <select id="cmbBaslangicTarihiAy" class="form-control cmbBaslamaTarihi" data-ilkdeger="@queryURL.erisimBaslamaTarihi.Month">
                       
                       <option value="1">January</option>
                       <option value="2">February</option>
                       <option value="3">March</option>
                       <option value="4">April</option>
                       <option value="5">May</option>
                       <option value="6">June</option>
                       <option value="7">July</option>
                       <option value="8">August</option>
                       <option value="9">September</option>
                       <option value="10">October</option>
                       <option value="11">November</option>
                       <option value="12">December</option>
                       
                    </select>
                      </div> 
                    <div class="form-group">
                       <select id="cmbBaslangicTarihiGun" class="form-control cmbBaslamaTarihi" data-ilkdeger="@queryURL.erisimBaslamaTarihi.Day">
                        @for (var i=1;i<=31;i++)
                        {
                        <option value="@i">@i</option>
                        }
                    </select>
                      </div>
                     

                        <div class="form-group">
                        <select id="cmbBaslangicTarihiYil" class="form-control cmbBaslamaTarihi" data-ilkdeger="@queryURL.erisimBaslamaTarihi.Year">
                        @for (var i=2015;i<=2025;i++)
                        {
                        <option value="@i">@i</option>
                        }
                         </select>
                        </div>

                        <div class="form-group">
                        <select id="cmbBaslangicTarihiSaat" class="form-control cmbBaslamaTarihi" data-ilkdeger="@queryURL.erisimBaslamaTarihi.Hour">
                                <option value="0">00:00</option>
                                <option value="1">01:00</option>
                                <option value="2">02:00</option>
                                <option value="3">03:00</option>
                                <option value="4">04:00</option>
                                <option value="5">05:00</option>
                                <option value="6">06:00</option>
                                <option value="7">07:00</option>
                                <option value="8">08:00</option>
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                                <option value="22">22:00</option>
                                <option value="23">23:00</option>
                                
                        
                         </select>
                        </div>

                           </div>
                            </div>
                        </div>
                </td>
                </tr>

            <tr>
            <td><strong>URL Access End Date</strong></td>
             </tr>
                  <tr>
                <td>
                    <div class="row">
                        <div class="col-xs-12 column">
                    <div class="form-inline">
                         <div class="form-group ">
                        <select id="cmbBitisTarihiAy" class="form-control cmbBitisTarihi" data-ilkdeger="@queryURL.erisimBitisTarihi.Month">
                       
                       <option value="1">January</option>
                       <option value="2">February</option>
                       <option value="3">March</option>
                       <option value="4">April</option>
                       <option value="5">May</option>
                       <option value="6">June</option>
                       <option value="7">July</option>
                       <option value="8">August</option>
                       <option value="9">September</option>
                       <option value="10">October</option>
                       <option value="11">November</option>
                       <option value="12">December</option>
                       
                    </select>
                      </div> 
                    <div class="form-group">
                       <select id="cmbBitisTarihiGun" class="form-control cmbBitisTarihi" data-ilkdeger="@queryURL.erisimBitisTarihi.Day">
                        @for (var i=1;i<=31;i++)
                        {
                        <option value="@i">@i</option>
                        }
                    </select>
                      </div>
                     

                        <div class="form-group">
                        <select id="cmbBitisTarihiYil" class="form-control cmbBitisTarihi" data-ilkdeger="@queryURL.erisimBitisTarihi.Year">
                        @for (var i=2015;i<=2025;i++)
                        {
                        <option value="@i">@i</option>
                        }
                         </select>
                        </div>

                        <div class="form-group">
                        <select id="cmbBitisTarihiSaat" class="form-control cmbBitisTarihi" data-ilkdeger="@queryURL.erisimBitisTarihi.Hour">
                                <option value="0">00:00</option>
                                <option value="1">01:00</option>
                                <option value="2">02:00</option>
                                <option value="3">03:00</option>
                                <option value="4">04:00</option>
                                <option value="5">05:00</option>
                                <option value="6">06:00</option>
                                <option value="7">07:00</option>
                                <option value="8">08:00</option>
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                                <option value="22">22:00</option>
                                <option value="23">23:00</option>
                                
                        
                         </select>
                        </div>

                           </div>
                            </div>
                        </div>
                </td>
                </tr>

        </table>
    
    </div>

     <div class="col-md-4 column">
        
        <table class="table">

            <tr>
                <td><strong>Available Access Codes:</strong></td>         
            </tr>
            <tr>
                <td>
                   
                     <select id="cmbErisimKodlari" class="form-control" size="8">
                        
                    @foreach (var kod in queryErisimKodlari)
                        {
                            <option value="@kod.erisimKodu">@kod.erisimKodu</option>
                         }

                    </select><br>
                <button class="btn btn-info btn-xs" id="btnKodUret"> Create Code</button> <button class="btn btn-danger btn-xs" id="btnKodSil"> Delete Code</button>
                </td>
            </tr>

            <tr>
            <td><strong>Tags</strong></td>
            </tr>

            <tr>
               <td>
                   <input type="text" id="cmbTags" class="form-control" value="@stringEtiketler">
                
                </td>
            </tr>
            </table>
         </div>

    <div class="col-md-4 column">
        
        <table class="table">

            <tr>
                <td><strong>Allowed Users:</strong></td>         
            </tr>
            <tr>
                <td>
                 <select id="cmbErisimIzinleri" class="form-control" size="8">
                        
                    @foreach (var item in queryErisimIzinleri)
                        {
                            <option value="@item.ePosta">@item.ePosta</option>
                         }

                    </select><br>
                    <input type="text" class="form-control" id="txtEposta" placeholder="Please enter email address..."><br>
                <button class="btn btn-info btn-xs" id="btnErisimKullaniciEkle"> Add User</button> <button class="btn btn-danger btn-xs" id="btnErisimKullaniciCikar"> Remove User</button>
                
                </td>
            </tr>
            </table>
         </div>
                </div>
            </div>
     </div>
    </div>
</div>

@{
    db.Close();
}


@section scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    
    <script src="@Href("~/scripts/u2p/ChangeURLSettings.js")"></script>

}

