@{
    
if (!WebSecurity.IsAuthenticated)
{
Response.Redirect("~/Hesap/Giris");
}
Layout = "~/Paylasilan/_Layout.cshtml"; 

var db=Database.Open("u2p");
var kod=Request.QueryString["kod"];
IEnumerable<dynamic> queryURLs;
if (string.IsNullOrEmpty(kod))
{
queryURLs =db.Query("SELECT * FROM Url INNER JOIN UrlKullanici ON Url.urlID=UrlKullanici.urlID WHERE userID=@0 ORDER BY Url.urlID DESC",WebSecurity.CurrentUserId);
}
else
{
    queryURLs =db.Query("SELECT * FROM Url INNER JOIN UrlKategori ON Url.urlID=UrlKategori.urlID WHERE kisaKod=@0 ORDER BY Url.urlID DESC",kod);
}
var queryKategoriler=db.Query("SELECT * FROM Kategori WHERE userID=@0",WebSecurity.CurrentUserId);
}

      
<div class="row">
    <h2><span class="glyphicon glyphicon-link"></span> URL Listem</h2>
    <hr>
    <div class="col-md-3 column">
       
        <button class="btn btn-link" id="btnKategoriEkle"><span class="glyphicon glyphicon-tag"></span> Yeni Kategori</button> <button  class="btn btn-link" id="btnUrlEkle"><span class="glyphicon glyphicon-link"></span> Yeni URL</button><br><br>
        <div class="list-group" id="listeKategori">
            
            <a href="#" class="list-group-item kategoriOgesi" data-kisaKod="hepsi"><span class="glyphicon glyphicon-list-alt"></span> Tümü
                    <span class="badge">@db.QueryValue("SELECT COUNT(*) FROM URL INNER JOIN URLKullanici ON URL.urlID=URLKullanici.urlID WHERE UserID=@0",WebSecurity.CurrentUserId)</span>
             </a>
               

            @foreach (var item in queryKategoriler)
            {
               
                 <a href="#" class="list-group-item kategoriOgesi" data-kisaKod="@item.kisaKod"><span class="glyphicon glyphicon-tag"></span> @item.kategoriAdi
                    <span class="badge">@db.QueryValue("SELECT COUNT(*) FROM URLKategori WHERE kategoriID=@0",item.kategoriID)</span>
                </a>
                    
            }
            
            
            
</div>
        
                    
             
        </div>
    <div class="col-md-9 column">
        
      
              
              
           
    <table class="table table-hover" id="lstUrl">
        <thead>
    <tr><td><h4><strong>URL</strong></h4></td><td><h4><strong>Kisa URL</strong></h4></td><td></td></tr>
            </thead>
        <tbody>
        @foreach (var item in queryURLs)
        {
            <tr><td><h5><span class="glyphicon glyphicon-link"></span> <a href="@item.url">@item.url </a></h5></td><td><h5><a href="@Request.Url.AbsoluteUri@item.kisaKod">@Request.Url.AbsoluteUri@item.kisaKod </a></h5></td><td><a href="#" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-cog"></span></a></td></tr>
        }
            </tbody>
    </table>
        </div>
</div>



@section scripts
{
    
    <script src="@Href("~/scripts/u2p/Default.js")"></script>
        
     

}


@{
    db.Close();
}
