@{
    
if (!WebSecurity.IsAuthenticated)
{
Response.Redirect("~/Hesap/Giris");
}
Layout = "~/Paylasilan/_Layout.cshtml"; 

var db=Database.Open("u2p");

var queryKategoriler=db.Query("SELECT * FROM Kategori WHERE userID=@0",WebSecurity.CurrentUserId);
}

<div class="row well">
     <ul class="nav nav-pills">
      <li role="presentation"><a href="#" id="btnKategoriEkle"><span class="glyphicon glyphicon-tag"></span> Kategori Ekle</a></li>
      <li role="presentation"><a href="#" id="btnUrlEkle"><span class="glyphicon glyphicon-link"></span> URL Ekle</a></li>
  
</ul>
    </div>  

<div class="row">
    <div class="col-md-3 column">
       <h3>Kategoriler</h3>
         <div class="list-group" id="listeKategori">
            
            <a href="#" class="list-group-item kategoriOgesi active" data-kisaKod="hepsi"><span class="glyphicon glyphicon-list-alt"></span> Tümü
                    <span class="badge">@db.QueryValue("SELECT COUNT(*) FROM URL INNER JOIN URLKullanici ON URL.urlID=URLKullanici.urlID WHERE UserID=@0",WebSecurity.CurrentUserId)</span>
                    
             </a>
               

            @foreach (var item in queryKategoriler)
            {
               
                 <a href="#" class="list-group-item kategoriOgesi" data-kisaKod="@item.kisaKod"><span class="glyphicon glyphicon-tag"></span> @item.kategoriAdi
                    <span class="badge">@db.QueryValue("SELECT COUNT(*) FROM URLKategori WHERE kategoriID=@0",item.kategoriID)</span>
                </a>
                    
            }
            
            
            
</div>
        
                    
             
        </div>
    <div class="col-md-9 column">
          <h3>URL'ler</h3>
    <table class="table table-hover" id="lstUrl">
        <thead>
   
            </thead>
        <tbody>
       
            </tbody>
    </table>
        </div>
</div>



@section scripts
{
    
    <script src="@Href("~/scripts/u2p/Default.js")"></script>
        
     

}


@{
    db.Close();
}
