@{
    
if (!WebSecurity.IsAuthenticated)
{
Response.Redirect("~/Landing");
}
Layout = "~/Paylasilan/_Layout.cshtml"; 

var db=Database.Open("u2p");

var queryKategoriler=db.Query("SELECT * FROM Kategori WHERE userID=@0",WebSecurity.CurrentUserId);
}


<div class="row">
    
    <div class="col-md-3 column">
        <div class="panel panel-success">
                <div class="panel-heading"><h2>My Lists</h2></div>
    
            <div class="panel-body">
             <button class="btn btn-link" data-toggle="modal" data-target="#modalKategoriEkle"> <span class="glyphicon glyphicon-plus"></span> Add New List</button>
        <button class="btn btn-link menuKategoriSil"> <span class="glyphicon glyphicon-trash"></span> Delete List</button>
     
         <div class="list-group" id="listeKategori">
            
            <a href="#" class="list-group-item kategoriOgesi active" data-kategoriID="-1" data-kategoriAdi="My URLs">All URLs
                    <span class="badge">@db.QueryValue("SELECT COUNT(*) FROM Url WHERE UserID=@0",WebSecurity.CurrentUserId)</span>
                    
             </a>
  
            @foreach (var item in queryKategoriler)
            {             
                 <a href="#" class="list-group-item kategoriOgesi" data-kategoriID="@item.kategoriID" data-kategoriAdi="@item.kategoriAdi">@item.kategoriAdi
                   <span class="badge">@db.QueryValue("SELECT COUNT(*) FROM URLKategori WHERE kategoriID=@0",item.kategoriID)</span>
                </a>
                
                    
            }
          
</div>
      
          </div>
        </div>
        </div>
    <div class="col-md-9 column">
         <div class="panel panel-info">
                <div class="panel-heading"> <h2 id="kategoriAdi">My URLs</h2></div>
        
        <div class="panel-body"> 
              <button class="btn btn-link" data-toggle="modal" data-target="#modalURLEkle"> <span class="glyphicon glyphicon-plus"></span> Add New URL</button>
            
    <table class="table table-hover" id="lstUrl">
        <thead>
            <tr><td style="width:15px"></td><td style="width:200px"><strong>Description</strong></td><td><strong>URL</strong></td><td></td></tr>
            </thead>
        <tbody>
       
            </tbody>
    </table>
            </div>
             </div>
        </div>

    
</div>

<div class="modal" id="modalURLEkle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header well">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New URL</h4>
      </div>
      <div class="modal-body"><label>Description</label>
          <input type="text" class="form-control" id="txtURLAciklama" placeholder="Enter Description....">
          <label>URL</label>
        <input type="url" class="form-control" id="txtURLEkle" placeholder="Paste URL Here...">
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-primary" id="btnURLEkle">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modalKategoriEkle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header well">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New List</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="txtKategoriEkle" placeholder="Enter List Name...">
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-primary" id="btnKategoriEkle">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        
      </div>
    </div>
  </div>
</div>



@section scripts
{  
    <script src="@Href("~/scripts/u2p/Default.js")"></script>       
}


@{
    db.Close();
}
