@{

if (!WebSecurity.IsAuthenticated)
{
Response.Redirect("~/Hesap/Giris");
}

Layout = "~/Paylasilan/_Layout.cshtml";
var db=Database.Open("u2p");    
 
var kisaKod=UrlData[0];
if (string.IsNullOrEmpty(kisaKod))
{
    Response.Redirect("~/Error/Invalid-url");
}
DateTime baslangicTarihi=DateTime.Now.AddMonths(-1);
var queryUrl=db.QuerySingle("SELECT * FROM Url WHERE kisaKod=@0 AND userID=@1",kisaKod,WebSecurity.CurrentUserId);
if (queryUrl==null)
{
     Response.Redirect("~/Error/Invalid-url");
}
var querySehirler=db.Query("SELECT city,count(*) as adet FROM Ziyaret  WHERE urlID=@0 GROUP BY city",queryUrl.urlID);
var queryUlkeler=db.Query("SELECT country_name,count(*) as adet FROM Ziyaret  WHERE urlID=@0 GROUP BY country_name",queryUrl.urlID);
var queryTarayicilar=db.Query("SELECT browserName,count(*) as adet FROM Ziyaret  WHERE urlID=@0 GROUP BY browserName",queryUrl.urlID);

}
@section styles
{

<link rel="stylesheet" href="@Href("~/scripts/daterangepicker/daterangepicker-bs3.css")" />

}


<h1><span class="glyphicon glyphicon-tasks"></span> Stats</h1>
<hr>
<h4>@Request.Url.GetLeftPart(UriPartial.Authority)/@kisaKod</h4>
<br>
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#dashboard" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-dashboard"></span> Summary</a></li>
    <li role="presentation"><a href="#graph" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-stats"></span> Graphs</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="dashboard">
        <br>
        <div class="row">
            <div class="col-md-12 column">
              <div class="row">

                                                <div class="col-md-2"> 
                
                                                    <div class="panel panel-info">
                                                                  <div class="panel-heading text-center"><span class="glyphicon glyphicon-th-list"></span> Today</div>
                                                                 
                                                                <h2 class="text-center text-info">@db.QueryValue("SELECT COUNT(*) FROM Ziyaret WHERE urlID=@0 AND datepart(dd,tarih)=@1",queryUrl.urlID,DateTime.Now.Day)</h2>
                             
                                                        </div>
                                                    </div>

                                               <div class="col-md-2">
                                                    <div class="panel panel-info">
                                                                 <div class="panel-heading text-center"><span class="glyphicon glyphicon-th"></span> This Month</div>
                                                                 
                                                                <h2 class="text-center text-info">@db.QueryValue("SELECT COUNT(*) FROM Ziyaret WHERE urlID=@0 AND datepart(mm,tarih)=@1",queryUrl.urlID,DateTime.Now.Month)</h2>
                             
                                                        </div>
                                                    </div>

                                              <div class="col-md-2">
                                                    <div class="panel panel-info">
                                                                <div class="panel-heading text-center"><span class="glyphicon glyphicon-th-large"></span> This Year</div>
                                                                 
                                                                <h2 class="text-center text-info">@db.QueryValue("SELECT COUNT(*) FROM Ziyaret WHERE urlID=@0 AND datepart(yy,tarih)=@1",queryUrl.urlID,DateTime.Now.Year)</h2>
                             
                                                        </div>
                                                    </div>

                                              
    
         
                                </div>
            </div>
        </div>


        <br>
        <div class="row">
            <div class="col-md-4 column">
              <div class="panel panel-info">
                <div class="panel-heading"><span class="glyphicon glyphicon-home"></span> Cities</div>
                         <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr><td><strong>City</strong></td><td><strong>Total Click</strong></td></tr>
                                    </thead>
                                    <tbody>
                                            @foreach (var oge in querySehirler)
                                            {
                                                <tr><td>@oge.city</td><td>@oge.adet</td></tr>
                                            }
                                    </tbody>
                                </table>
                           </div>
               </div>
            </div>

            <div class="col-md-4 column">
              <div class="panel panel-info">
                <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span> Countries</div>
                         <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr><td><strong>Country</strong></td><td><strong>Total Click</strong></td></tr>
                                    </thead>
                                    <tbody>
                                            @foreach (var oge in queryUlkeler)
                                            {
                                                <tr><td>@oge.country_name</td><td>@oge.adet</td></tr>
                                            }
                                    </tbody>
                                </table>
                           </div>
               </div>
            </div>

            <div class="col-md-4 column">
              <div class="panel panel-info">
                <div class="panel-heading"><span class="glyphicon glyphicon-screenshot"></span> Browsers</div>
                         <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr><td><strong>Browser</strong></td><td><strong>Total Click</strong></td></tr>
                                    </thead>
                                    <tbody>
                                            @foreach (var oge in queryTarayicilar)
                                            {
                                                <tr><td>@oge.browserName</td><td>@oge.adet</td></tr>
                                            }
                                    </tbody>
                                </table>
                           </div>
               </div>
            </div>
        </div>
        
        
<br>

    
    </div>
    <div role="tabpanel" class="tab-pane" id="graph">
            <br>
        <div class="row" id="txtKisaKod" data-Kisakod="@kisaKod">
    <div class="col-md-3 column">
        <div class="panel panel-info">
              <div class="panel-heading"><span class="glyphicon glyphicon-calendar"></span> Graph Type</div>
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked" id="lstGrafikTurleri">
               <li role="presentation"><a href="#" class="grafikTuru" data-tur="saat">By Hour</a></li>
                <li role="presentation" class="active"><a href="#" class="grafikTuru" data-tur="gun">By Day</a></li>
               <li role="presentation"><a href="#" class="grafikTuru" data-tur="ay">By Month</a></li>
               <li role="presentation" ><a href="#" class="grafikTuru" data-tur="yil">By Year</a></li>
                  <li role="presentation"><a href="#"  class="grafikTuru" data-tur="ulke">By Country</a></li>
                <li role="presentation"><a href="#"  class="grafikTuru" data-tur="dil">Language</a></li>
               <li role="presentation"><a href="#"  class="grafikTuru" data-tur="tarayici">Browser</a></li>
              
            </ul>
              </div>
         </div>
           


         </div>

    
    <div class="col-md-6 column">
       
        <div class="row">
           
            <div class="col-md-12">
                  <div class="panel panel-info">
                      <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Graph</div>
                      <div class="panel-body">
                        <div id="grafikDiv" data-Grafik="gun" data-CihazTuru="hepsi"></div>
                      </div>
                    </div>
                     
                
                      
                </div>
            </div>
     
        </div>

    <div class="col-md-3 column">
        
        <div class="panel panel-info">
             <div class="panel-heading"><span class="glyphicon glyphicon-cog"></span> Options</div>
                 <div class="panel-body">
                       <p>Date Range:</p> 
         <button class="btn btn-link" id="tarihAraligi" data-baYil="@baslangicTarihi.Year" data-baAy="@baslangicTarihi.Month" data-baGun="@baslangicTarihi.Day" data-biYil="@DateTime.Now.Year" data-biAy="@DateTime.Now.Month" data-biGun="@DateTime.Now.Day"><span class="glyphicon glyphicon-calendar"></span> @baslangicTarihi.ToString("MM/dd/yyyy") - @DateTime.Now.ToString("MM/dd/yyyy") <b class="caret"></b> </button>
        <p>Device Type:</p>
        <select id="cmbCihazTuru">
            <option value="hepsi" selected> All</option>
            <option value="desktop"> Desktop</option>
            <option value="mobil"> Mobile</option>
        </select>
       
                 </div>
              </div>

         
        
        </div>
    </div>
    
    </div>
    
  </div>

</div>










 
@section scripts
{
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="@Href("~/scripts/moment.min.js")"></script>
<script src="@Href("~/scripts/daterangepicker/daterangepicker.js")"></script>
<script src="@Href("~/scripts/u2p/Stats.js")"></script>
 
}

@{
    db.Close();
}
