@{
    
Layout = "~/Paylasilan/_Layout.cshtml"; 
var kisaKod=UrlData[0];
if (string.IsNullOrEmpty(kisaKod))
{
    Response.Redirect("~/Error/Invalid-url");
}
DateTime baslangicTarihi=DateTime.Now.AddMonths(-1);

}
@section styles
{

<link rel="stylesheet" href="@Href("~/scripts/daterangepicker/daterangepicker-bs3.css")" />

}
<h1>Stats <small>(@Request.Url.GetLeftPart(UriPartial.Authority)/@kisaKod)</small> </h1>
<hr>
<div class="row" id="txtKisaKod" data-Kisakod="@kisaKod">
    <div class="col-md-3 column">

            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#" class="grafikTuru" data-tur="gun">By Day</a></li>
                  <li role="presentation"><a href="#"  class="grafikTuru" data-tur="ulke">By Country</a></li>
              
            </ul>

   
         </div>

    
    <div class="col-md-6 column">
   
         <div id="grafikDiv" data-Grafik="gun"></div>
    
     
        </div>

    <div class="col-md-3 column">
        
             <h5>Options</h5>
         <a href="#" class="btn btn-link" id="tarihAraligi" data-baYil="@baslangicTarihi.Year" data-baAy="@baslangicTarihi.Month" data-baGun="@baslangicTarihi.Day" data-biYil="@DateTime.Now.Year" data-biAy="@DateTime.Now.Month" data-biGun="@DateTime.Now.Day"><span class="glyphicon glyphicon-calendar"></span> @baslangicTarihi.ToString("MM/dd/yyyy") - @DateTime.Now.ToString("MM/dd/yyyy") <b class="caret"></b> </a>
       
        
        </div>
    </div>
 
@section scripts
{
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="@Href("~/scripts/moment.min.js")"></script>
<script src="@Href("~/scripts/daterangepicker/daterangepicker.js")"></script>
<script src="@Href("~/scripts/u2p/Stats.js")"></script>
 
}

