@{
    
Layout = "~/Paylasilan/_Layout.cshtml"; 
var kisaKod=UrlData[0];
if (string.IsNullOrEmpty(kisaKod))
{
    Response.Redirect("~/Error/Invalid-url");
}
DateTime baslangicTarihi=DateTime.Now.AddMonths(-1);

}
@section styles
{

<link rel="stylesheet" href="@Href("~/scripts/daterangepicker/daterangepicker-bs3.css")" />

}
<h1>Stats <small>(@Request.Url.GetLeftPart(UriPartial.Authority)/@kisaKod)</small> </h1>
<hr>
<div class="row" id="txtKisaKod" data-Kisakod="@kisaKod">
    <div class="col-md-3 column">

         

   
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Desktop Access
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
           <ul class="nav nav-pills nav-stacked" id="lstGrafikTurleri">
                <li role="presentation" class="active"><a href="#" class="grafikTuru" data-tur="gun" data-cihaz="masaustu">By Day</a></li>
               <li role="presentation"><a href="#" class="grafikTuru" data-tur="ay" data-cihaz="masaustu">By Month</a></li>
               <li role="presentation" ><a href="#" class="grafikTuru" data-tur="yil" data-cihaz="masaustu">By Year</a></li>
                  <li role="presentation"><a href="#"  class="grafikTuru" data-tur="ulke" data-cihaz="masaustu">By Country</a></li>
                <li role="presentation"><a href="#"  class="grafikTuru" data-tur="dil" data-cihaz="masaustu">Language</a></li>
               <li role="presentation"><a href="#"  class="grafikTuru" data-tur="tarayici" data-cihaz="masaustu">Browser</a></li>
              
            </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Mobile Access
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  
</div>

         </div>

    
    <div class="col-md-6 column">
   
         <div id="grafikDiv" data-Grafik="gun"></div>
    
     
        </div>

    <div class="col-md-3 column">
        
             <h5>Options</h5>
         <a href="#" class="btn btn-link" id="tarihAraligi" data-baYil="@baslangicTarihi.Year" data-baAy="@baslangicTarihi.Month" data-baGun="@baslangicTarihi.Day" data-biYil="@DateTime.Now.Year" data-biAy="@DateTime.Now.Month" data-biGun="@DateTime.Now.Day"><span class="glyphicon glyphicon-calendar"></span> @baslangicTarihi.ToString("MM/dd/yyyy") - @DateTime.Now.ToString("MM/dd/yyyy") <b class="caret"></b> </a>
       
        
        </div>
    </div>
 
@section scripts
{
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="@Href("~/scripts/moment.min.js")"></script>
<script src="@Href("~/scripts/daterangepicker/daterangepicker.js")"></script>
<script src="@Href("~/scripts/u2p/Stats.js")"></script>
 
}

