@{

if (!WebSecurity.IsAuthenticated)
{
Response.Redirect("~/Hesap/Giris");
}

Layout = "~/Paylasilan/_Layout.cshtml";
var db=Database.Open("u2p");    
 
var kisaKod=UrlData[0];
if (string.IsNullOrEmpty(kisaKod))
{
    Response.Redirect("~/Error/Invalid-url");
}
DateTime baslangicTarihi=DateTime.Now.AddMonths(-1);
var queryUrl=db.QuerySingle("SELECT * FROM Url WHERE kisaKod=@0 AND userID=@1",kisaKod,WebSecurity.CurrentUserId);
if (queryUrl==null)
{
     Response.Redirect("~/Error/Invalid-url");
}

}
@section styles
{

<link rel="stylesheet" href="@Href("~/scripts/daterangepicker/daterangepicker-bs3.css")" />

}
<h1>Stats <small class="text-right">(@Request.Url.GetLeftPart(UriPartial.Authority)/@kisaKod)</small> </h1>
<hr>
<h4>Total Clicks</h4>
<div class="row">
          
            <div class="col-md-2"> 
                
                <div class="panel panel-default well">
                       
                             <p class="text-center text-info">Today</p>
                            <h2 class="text-center text-info">@db.QueryValue("SELECT COUNT(*) FROM Ziyaret WHERE urlID=@0 AND datepart(dd,tarih)=@1",queryUrl.urlID,DateTime.Now.Day)</h2>
                             
                    </div>
                </div>

           <div class="col-md-2">
                <div class="panel panel-default well">
                       
                             <p class="text-center text-info">This Month</p>
                            <h2 class="text-center text-info">@db.QueryValue("SELECT COUNT(*) FROM Ziyaret WHERE urlID=@0 AND datepart(mm,tarih)=@1",queryUrl.urlID,DateTime.Now.Month)</h2>
                             
                    </div>
                </div>

    <div class="col-md-2">
                <div class="panel panel-default well">
                       
                             <p class="text-center text-info">This Year</p>
                            <h2 class="text-center text-info">@db.QueryValue("SELECT COUNT(*) FROM Ziyaret WHERE urlID=@0 AND datepart(yy,tarih)=@1",queryUrl.urlID,DateTime.Now.Year)</h2>
                             
                    </div>
                </div>

           <div class="col-md-2">
                <div class="panel panel-default well">
                        
                             <p class="text-center text-success">Total</p>
                            <h2 class="text-center text-success">12</h2>
                             
                    </div>
                </div>
         
        </div>

 <h4>Graphs</h4>
<div class="row" id="txtKisaKod" data-Kisakod="@kisaKod">
    <div class="col-md-3 column">

           <ul class="nav nav-pills nav-stacked" id="lstGrafikTurleri">
               <li role="presentation"><a href="#" class="grafikTuru" data-tur="saat">By Hour</a></li>
                <li role="presentation" class="active"><a href="#" class="grafikTuru" data-tur="gun">By Day</a></li>
               <li role="presentation"><a href="#" class="grafikTuru" data-tur="ay">By Month</a></li>
               <li role="presentation" ><a href="#" class="grafikTuru" data-tur="yil">By Year</a></li>
                  <li role="presentation"><a href="#"  class="grafikTuru" data-tur="ulke">By Country</a></li>
                <li role="presentation"><a href="#"  class="grafikTuru" data-tur="dil">Language</a></li>
               <li role="presentation"><a href="#"  class="grafikTuru" data-tur="tarayici">Browser</a></li>
              
            </ul>


         </div>

    
    <div class="col-md-6 column">
       


        <div class="row">
           
            <div class="col-md-12">
                <div id="grafikDiv" data-Grafik="gun"></div>
                </div>
            </div>
     
        </div>

    <div class="col-md-3 column">
        
           <p>Date Range:</p> 
         <a href="#" class="btn btn-link" id="tarihAraligi" data-baYil="@baslangicTarihi.Year" data-baAy="@baslangicTarihi.Month" data-baGun="@baslangicTarihi.Day" data-biYil="@DateTime.Now.Year" data-biAy="@DateTime.Now.Month" data-biGun="@DateTime.Now.Day"><span class="glyphicon glyphicon-calendar"></span> @baslangicTarihi.ToString("MM/dd/yyyy") - @DateTime.Now.ToString("MM/dd/yyyy") <b class="caret"></b> </a>
        <p>Device Type:</p>
        <select id="cmbCihazTuru">
            <option value="hepsi" selected> All</option>
            <option value="desktop"> Desktop</option>
            <option value="mobil"> Mobile</option>
        </select>
       
        
        </div>
    </div>
 
@section scripts
{
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="@Href("~/scripts/moment.min.js")"></script>
<script src="@Href("~/scripts/daterangepicker/daterangepicker.js")"></script>
<script src="@Href("~/scripts/u2p/Stats.js")"></script>
 
}

@{
    db.Close();
}
