@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris");
    }
    Layout = "~/Paylasilan/_Layout.cshtml"; 

    var db=Database.Open("u2p");
    var kisaKod=UrlData[0];
    
    if (string.IsNullOrEmpty(kisaKod))
    {
        db.Close();
        Response.Redirect("~/Error/Invalid-Url");
    }

    var queryURL=db.QuerySingle("SELECT * FROM URL WHERE kisaKod=@0",kisaKod);
    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles WHERE UserID=@0",WebSecurity.CurrentUserId);
  
    if (queryURL==null)
    {
       db.Close();
       Response.Redirect("~/Error/Invalid-Url");
    }

    if (db.QueryValue("SELECT COUNT(*) FROM URLYonetici WHERE urlID=@0 AND UserID=@1",queryURL.urlID,WebSecurity.CurrentUserId)<1)
    {
        db.Close();
        Response.Redirect("~/Error/Access-Denied");
    }

}
@section styles
{
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<link rel="stylesheet" href="@Href("~/scripts/datetimepicker/bootstrap-datetimepicker.css")" />

}
<div class="row">
    <div class="col-md-12 column">
       <h2 id="lblKisaKod" data-kisaKod="@kisaKod">URL Settings</h2>
    </div>   
</div>
<br>
<div class="row">
    
    <div class="col-md-4 column">
        
        <table class="table table-striped">
            <tr>
                <td><strong>URL:</strong></td>         
            </tr>
            <tr>
                <td>@Request.Url.GetLeftPart(UriPartial.Authority)/@if(queryKullanici.uyelikTuru==2){<a href="#" id="txtKisaKod">@queryURL.kisaKod</a>}else {<text> @queryURL.kisaKod</text>}</td>
            </tr>
            <tr>
                <td><strong>Description:</strong></td>
            </tr>
            
            <tr>
                <td><a href="#" id="txtAciklama">@queryURL.aciklama</a></td>
            </tr>
            
            <tr>
                <td><strong>Access Type:</strong></td>
            </tr>   
            
            <tr>
                <td>
                    <select id="cmbErisimTuru">
                        <option value="1">Public</option>
                        <option value="2">Members</option>
                        <option value="3">Permitted (Via Access Codes)</option>
                        <option value="4">Owner</option>
                    </select>
                </td>
                </tr>    
            <tr>
                <td><strong>Visible:</strong></td>
            </tr>   
            
            <tr>
                <td>
                    <select id="cmbGorunur">
                        <option value="1">Yes</option>
                        <option value="2">No</option>             
                    </select>
                </td>
                </tr>

             <tr>
                <td><strong>URL Access Start Date</strong></td>
            </tr>   
            
            <tr>
                <td>

                   <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" value="@String.Format("{0:g}", queryURL.erisimBaslamaTarihi)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                   
                </td>
                </tr>

            <tr>
            <td><strong>URL Access Stop Date</strong></td>
                <tr>
                <td>
                    
                     <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" value="@String.Format("{0:g}", queryURL.erisimBitisTarihi)" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                
                </td>
                    </tr>
            </tr>

        </table>
    
    </div>

</div>

@{
    db.Close();
}



@section scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="@Href("~/scripts/datetimepicker/moment.js")"></script> 
    <script src="@Href("~/scripts/datetimepicker/bootstrap-datetimepicker.js")"></script> 
    <script src="@Href("~/scripts/u2p/UrlSettings.js")"></script>

}

