@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris");
    }
    Layout = "~/Paylasilan/_Layout.cshtml"; 

    var db=Database.Open("u2p");
    var kisaKod=UrlData[0];
    
    if (string.IsNullOrEmpty(kisaKod))
    {
        db.Close();
        Response.Redirect("~/Error/Invalid-Url");
    }

    var queryURL=db.QuerySingle("SELECT * FROM URL WHERE kisaKod=@0",kisaKod);
    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles WHERE UserID=@0",WebSecurity.CurrentUserId);
  
    if (queryURL==null)
    {
       db.Close();
       Response.Redirect("~/Error/Invalid-Url");
    }

    if (db.QueryValue("SELECT COUNT(*) FROM URLYonetici WHERE urlID=@0 AND UserID=@1",queryURL.urlID,WebSecurity.CurrentUserId)<1)
    {
        db.Close();
        Response.Redirect("~/Error/Access-Denied");
    }

}
@section styles
{
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<link rel="stylesheet" href="@Href("~/scripts/datetimepicker/bootstrap-datetimepicker.min.css")" />

}
<div class="row">
    <div class="col-md-12 column">
       <h2 id="lblKisaKod" data-kisaKod="@kisaKod">URL Settings</h2>
    </div>   
</div>
<br>
<div class="row">
    
    <div class="col-md-4 column">
        
        <table class="table table-striped">
            <tr>
                <td><strong>URL:</strong></td>         
            </tr>
            <tr>
                <td>@Request.Url.GetLeftPart(UriPartial.Authority)/@if(queryKullanici.uyelikTuru==2){<a href="#" id="txtKisaKod">@queryURL.kisaKod</a>}else {<text> @queryURL.kisaKod</text>}</td>
            </tr>
            <tr>
                <td><strong>Description:</strong></td>
            </tr>
            
            <tr>
                <td><a href="#" id="txtAciklama">@queryURL.aciklama</a></td>
            </tr>
            
            <tr>
                <td><strong>Access Type:</strong></td>
            </tr>   
            
            <tr>
                <td>
                    <select id="cmbErisimTuru">
                        <option value="1" @if(queryURL.erisimTuru==1) {<text>selected</text>}>Public</option>
                        <option value="2" @if(queryURL.erisimTuru==2) {<text>selected</text>}>Members</option>
                        <option value="3" @if(queryURL.erisimTuru==3) {<text>selected</text>}>Permitted (Via Access Codes)</option>
                        <option value="4" @if(queryURL.erisimTuru==4) {<text>selected</text>}>Owner</option>
                    </select>
                </td>
                </tr>    
            <tr>
                <td><strong>Visible:</strong></td>
            </tr>   
            
            <tr>
                <td>
                    <select id="cmbGorunur">
                        <option value="1" @if(queryURL.aramalardaGoster==1) {<text>selected</text>}>Yes</option>
                        <option value="2" @if(queryURL.aramalardaGoster==2) {<text>selected</text>}>No</option>             
                    </select>
                </td>
                </tr>

             <tr>
                <td><strong>URL Access Starting Date</strong></td>
            </tr>   
            
            <tr>
                <td>
                    <div class="row">
                        <div class="col-xs-12 column">
                    <div class="form-inline">
                         <div class="form-group ">
                        <select id="cmbBaslangicTarihiAy" class="form-control cmbBaslamaTarihi">
                       
                       <option value="1" @if(queryURL.erisimBaslamaTarihi.Month==1) {<text>selected</text>} >January</option>
                       <option value="2" @if(queryURL.erisimBaslamaTarihi.Month==2) {<text>selected</text>}>February</option>
                       <option value="3" @if(queryURL.erisimBaslamaTarihi.Month==3) {<text>selected</text>}>March</option>
                       <option value="4" @if(queryURL.erisimBaslamaTarihi.Month==4) {<text>selected</text>}>April</option>
                       <option value="5" @if(queryURL.erisimBaslamaTarihi.Month==5) {<text>selected</text>}>May</option>
                       <option value="6" @if(queryURL.erisimBaslamaTarihi.Month==6) {<text>selected</text>}>June</option>
                       <option value="7" @if(queryURL.erisimBaslamaTarihi.Month==7) {<text>selected</text>}>July</option>
                       <option value="8" @if(queryURL.erisimBaslamaTarihi.Month==8) {<text>selected</text>}>August</option>
                       <option value="9" @if(queryURL.erisimBaslamaTarihi.Month==9) {<text>selected</text>}>September</option>
                       <option value="10" @if(queryURL.erisimBaslamaTarihi.Month==10) {<text>selected</text>}>October</option>
                       <option value="11" @if(queryURL.erisimBaslamaTarihi.Month==11) {<text>selected</text>}>November</option>
                       <option value="12" @if(queryURL.erisimBaslamaTarihi.Month==12) {<text>selected</text>}>December</option>
                       
                    </select>
                      </div> 
                    <div class="form-group">
                       <select id="cmbBaslangicTarihiGun" class="form-control cmbBaslamaTarihi">
                        @for (var i=1;i<=31;i++)
                        {
                        <option value="@i" @if(queryURL.erisimBaslamaTarihi.Day==i) {<text>selected</text>}>@i</option>
                        }
                    </select>
                      </div>
                     

                        <div class="form-group">
                        <select id="cmbBaslangicTarihiYil" class="form-control cmbBaslamaTarihi">
                        @for (var i=2015;i<=2025;i++)
                        {
                        <option value="@i" @if(queryURL.erisimBaslamaTarihi.Year==i) {<text>selected</text>}>@i</option>
                        }
                         </select>
                        </div>

                        <div class="form-group">
                        <select id="cmbBaslangicTarihiSaat" class="form-control cmbBaslamaTarihi">
                                <option value="0" @if(queryURL.erisimBaslamaTarihi.Hour==0) {<text>selected</text>}>00:00</option>
                                <option value="1" @if(queryURL.erisimBaslamaTarihi.Hour==1) {<text>selected</text>}>01:00</option>
                                <option value="2" @if(queryURL.erisimBaslamaTarihi.Hour==2) {<text>selected</text>}>02:00</option>
                                <option value="3" @if(queryURL.erisimBaslamaTarihi.Hour==3) {<text>selected</text>}>03:00</option>
                                <option value="4" @if(queryURL.erisimBaslamaTarihi.Hour==4) {<text>selected</text>}>04:00</option>
                                <option value="5" @if(queryURL.erisimBaslamaTarihi.Hour==5) {<text>selected</text>}>05:00</option>
                                <option value="6" @if(queryURL.erisimBaslamaTarihi.Hour==6) {<text>selected</text>}>06:00</option>
                                <option value="7" @if(queryURL.erisimBaslamaTarihi.Hour==7) {<text>selected</text>}>07:00</option>
                                <option value="8" @if(queryURL.erisimBaslamaTarihi.Hour==8) {<text>selected</text>}>08:00</option>
                                <option value="9" @if(queryURL.erisimBaslamaTarihi.Hour==9) {<text>selected</text>}>09:00</option>
                                <option value="10" @if(queryURL.erisimBaslamaTarihi.Hour==10) {<text>selected</text>}>10:00</option>
                                <option value="11" @if(queryURL.erisimBaslamaTarihi.Hour==11) {<text>selected</text>}>11:00</option>
                                <option value="12" @if(queryURL.erisimBaslamaTarihi.Hour==12) {<text>selected</text>}>12:00</option>
                                <option value="13" @if(queryURL.erisimBaslamaTarihi.Hour==13) {<text>selected</text>}>13:00</option>
                                <option value="14" @if(queryURL.erisimBaslamaTarihi.Hour==14) {<text>selected</text>}>14:00</option>
                                <option value="15" @if(queryURL.erisimBaslamaTarihi.Hour==15) {<text>selected</text>}>15:00</option>
                                <option value="16" @if(queryURL.erisimBaslamaTarihi.Hour==16) {<text>selected</text>}>16:00</option>
                                <option value="17" @if(queryURL.erisimBaslamaTarihi.Hour==17) {<text>selected</text>}>17:00</option>
                                <option value="18" @if(queryURL.erisimBaslamaTarihi.Hour==18) {<text>selected</text>}>18:00</option>
                                <option value="19" @if(queryURL.erisimBaslamaTarihi.Hour==19) {<text>selected</text>}>19:00</option>
                                <option value="20" @if(queryURL.erisimBaslamaTarihi.Hour==20) {<text>selected</text>}>20:00</option>
                                <option value="21" @if(queryURL.erisimBaslamaTarihi.Hour==21) {<text>selected</text>}>21:00</option>
                                <option value="22" @if(queryURL.erisimBaslamaTarihi.Hour==22) {<text>selected</text>}>22:00</option>
                                <option value="23" @if(queryURL.erisimBaslamaTarihi.Hour==23) {<text>selected</text>}>23:00</option>
                                
                        
                         </select>
                        </div>

                           </div>
                            </div>
                        </div>
                </td>
                </tr>

            <tr>
            <td><strong>URL Access Stopping Date</strong></td>
                <tr>
                <td>
                    
                     
                </td>
                    </tr>
            </tr>

        </table>
    
    </div>

</div>

@{
    db.Close();
}



@section scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="@Href("~/scripts/datetimepicker/moment.js")"></script> 
    <script src="@Href("~/scripts/datetimepicker/bootstrap-datetimepicker.min.js")"></script> 
    <script src="@Href("~/scripts/u2p/UrlSettings.js")"></script>

}

