@{
     if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris");
        
                   
    }
    var db=Database.Open("u2p");
    Layout="~/Paylasilan/_Layout.cshtml";

     WebGrid grid = null;
     
     
    var query=db.Query("SELECT Email,UserID FROM Profiles WHERE Onayli=0");
         
     
     grid = new WebGrid( 
                              source: query,
                              rowsPerPage: 100,
                             
                              columnNames: new[] {"Email","UserID","Islem" }
                              );

}
<div>
    <h1>Mark as Verified</h1>
<hr>

     @grid.Pager(WebGridPagerModes.FirstLast)
    
     @grid.GetHtml(
           
            tableStyle: "table table-hover",
            displayHeader: false,
            columns: grid.Columns(
            grid.Column("",format: @<text> @item.Email</text>),
            grid.Column("",format: @<text> @grouplatHelper.KisiKunye(item.UserID,4,true)</text>),
            grid.Column("", format:@<text> <button class="btn btn-success btnVerifyUser" data-UserID="@item.UserID" > Verify User</button></text>)
            
            ),
            nextText: "Next", previousText: "Previous"

            )
</div>


@section scripts
{
    <script src="@Href("~/scripts/jquery.form.js")"></script>
    <script src="@Href("~/scripts/jquery.validate.js")"></script>
    <script src="@Href("~/scripts/grouplat/Hesap/makeverified.js")"></script>
     
}

