@{
    var db=Database.Open("u2p");
   
  
}
<!DOCTYPE html>

<html>
  <head>
  
    <title>u2P</title>


           <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/yeti/bootstrap.min.css">
      <link href="@Href("~/Paylasilan/carousel.css")" rel="stylesheet">
        <link rel="stylesheet" href="@Href("~/scripts/jquery.growl/jquery.growl.css")">
      <link rel="stylesheet" href="@Href("~/scripts/selectize/dist/css/selectize.bootstrap3.css")">
      
      @RenderSection("styles", required: false)
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

             <a class="navbar-brand" href="#">
        <img alt="Brand" src="@Href("~/images/u2p.png")" style="height: 24px">
      </a>
         
            
        </div>
        <div class="navbar-collapse collapse">
            @if (WebSecurity.IsAuthenticated)
            {

                <ul class="nav navbar-nav">
            
              <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-link"></span> URL
                   
                   
               <b class="caret"></b>
              
              </a>

              <ul class="dropdown-menu">
                <li><a href="@Href("~/Hesap/ProfilGuncelle")">Profil Güncelle</a></li>
                
              </ul>
            </li>



            
          </ul>
 <ul class="nav navbar-nav">
            
              <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-tag"></span> Liste
                   
                   
               <b class="caret"></b>
              
              </a>

              <ul class="dropdown-menu">
                <li><a href="@Href("~/Hesap/ProfilGuncelle")">Profil Güncelle</a></li>
                
              </ul>
            </li>



            
          </ul>
        
          <ul class="nav navbar-nav navbar-right">
            
              <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-cog"></span>
                   
                   
               <b class="caret"></b>
              
              </a>

              <ul class="dropdown-menu">
                <li><a href="@Href("~/Hesap/ProfilGuncelle")">Profil Güncelle</a></li>
                <li><a href="@Href("~/Hesap/ParolaDegistir")">Parolayı Değiştir</a></li>
                <li><a href="@Href("~/Hesap/Cikis")">Çıkış</a></li>
               
              </ul>
            </li>



            
          </ul>
            }
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
        
     @RenderBody()
           
    </div>
      
      
  <hr>
      <small>u2P @DateTime.Now.Year</small><small class="pull-right"></small>

       <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.js"></script>
       <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
       <script src="@Href("~/scripts/jquery.blockUI.js")"></script>
       <script src="@Href("~/scripts/jquery.growl/jquery.growl.js")"></script>
       <script src="@Href("~/scripts/selectize/dist/js/standalone/selectize.js")"></script>
      <script src="@Href("~/scripts/autolinker/Autolinker.js")"></script>
       <script src="@Href("~/scripts/u2pglobal.js")"></script>
      <script src="@Href("~/scripts/jquery.timeago.js")"></script>
      
    @RenderSection("scripts", required: false)
  </body>
</html>
@{
    db.Close();
}