@{
    
Layout = "~/Paylasilan/_Layout.cshtml"; 

   

}
@section styles
{

<link rel="stylesheet" href="@Href("~/scripts/daterangepicker/daterangepicker-bs3.css")" />

}
<div class="row">
    <div class="pull-right">
    <a href="#" class="btn btn-link" id="tarihAraligi" data-baslangic="" data-bitis=""><span class="glyphicon glyphicon-calendar"></span> @DateTime.Now <b class="caret"></b> </a>
    </div>
    <button id="grafikCiz"> Çiz</button>
     <div class="col-md-6 column">
   <div id="container" style="width:100%; height:400px;"></div>

         </div>
</div>
 
@section scripts
{
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="@Href("~/scripts/moment.min.js")"></script>
<script src="@Href("~/scripts/daterangepicker/daterangepicker.js")"></script>
<script src="@Href("~/scripts/u2p/ByCountry.js")"></script>
 
}

