@{
    
Layout = "~/Paylasilan/_Layout.cshtml"; 

   

}
@section styles
{

<link rel="stylesheet" href="@Href("~/scripts/daterangepicker/daterangepicker-bs3.css")" />

}
<h1>Stats </h1>
<hr>
<div class="row" id="txtKisaKod" data-Kisakod="1w0i"> <h4>Date Range</h4>
    <div class="col-md-4 column">
       
         <a href="#" class="btn btn-link" id="tarihAraligi" data-baYil="" data-baAy="" data-baGun="" data-biYil="" data-biAy="" data-biGun=""><span class="glyphicon glyphicon-calendar"></span> @DateTime.Now <b class="caret"></b> </a>
        </div>
    <div class="col-md-8 column">
   
         <div id="grafikDiv"></div>
    
     
        </div>
</div>
 
@section scripts
{
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="@Href("~/scripts/moment.min.js")"></script>
<script src="@Href("~/scripts/daterangepicker/daterangepicker.js")"></script>
<script src="@Href("~/scripts/u2p/ByCountry.js")"></script>
 
}

