@{
    
Layout = "~/Paylasilan/_Layout.cshtml"; 

   

}
@section styles
{

<link rel="stylesheet" href="@Href("~/scripts/daterangepicker/daterangepicker-bs3.css")" />

}
<h1>Stats </h1><button id="grafikCiz"> Çiz</button>
<hr>
<div class="row">
    <div class="col-md-4 column">
        <h4>Date Range</h4>
         <a href="#" class="btn btn-link well" id="tarihAraligi" data-baslangic="" data-bitis=""><span class="glyphicon glyphicon-calendar"></span> @DateTime.Now <b class="caret"></b> </a>
        </div>
    <div class="col-md-8 column">
   
         <div id="container"></div>
    
     
        </div>
</div>
 
@section scripts
{
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="@Href("~/scripts/moment.min.js")"></script>
<script src="@Href("~/scripts/daterangepicker/daterangepicker.js")"></script>
<script src="@Href("~/scripts/u2p/ByCountry.js")"></script>
 
}

